@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', cursive;
  background-image: url("../src/assets/img/background.png");
  background-size: auto;
}
nav .brand-logo {
  display: block;
  text-align: center;
  position: relative;
}
.input-field label {
  color: white;
  font-size: 20px;
}

.input-field input[type=text]:focus + label {
  color: white;
} 

.input-field input[type=text]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 #000;
  margin-bottom: 30px;
}

input[type=text]:not(.browser-default) {
  border-bottom: 1px solid white;
  color: white;
  margin-bottom: 30px;
}
input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid white;
  -webkit-box-shadow: 0 1px 0 0 white;
  box-shadow: 0 1px 0 0 white;
}
input[type=text]:not(.browser-default):focus:not([readonly]) + label {
  color: white;
}

.contenedor-form {
  padding: 3rem 0 1px 0;
  margin-top: 5%;
}
.mensaje {
  text-align: center;
  font-size: 2rem;
}
.buscador i {
  width: 100%;
}
.error {
  padding: 1rem!important;
  color:white;
  margin-top: 3rem;
  text-align: center;
  text-emphasis: left;
}
.card-panel h2 {
  font-size: 1.6rem;
  text-align: center;
}
.card-panel p {
  text-align: center;
  font-size: 1.4rem;
}
.card-panel{
  background-color: rgba(0, 0, 0, 0.2);
}
.temperatura {
  font-size: 4rem!important
}
.temperatura span {
  font-size: 2rem!important;
  vertical-align: super;
}

.btn-block {
  display: block!important;
}

.error {
  padding: 1rem!important;
  text-align: center!important;
  color: #FFF!important;
}
.icon{
  width: 100px;
  height: 100px;
  border-radius: 150px;
  margin-left: 28rem;
  margin-top: -1rem;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
}
@media screen and ( max-width: 320px ) {
  .icon { 
    width: 60px; 
    height: 60px; 
    margin-left: 15rem;
  }
  .img{
    width: 60px; 
    height: 60px; 
  }
}
@media screen and ( min-width: 375px ) {
  .icon { 
    width: 60px; 
    height: 60px; 
    margin-left: 19rem;
  }
  .img{
    width: 60px; 
    height: 60px; 
  }
}
@media screen and ( min-width: 425px ) {
  .icon { 
    width: 60px; 
    height: 60px; 
    margin-left: 22rem;
  }
  .img{
    width: 60px; 
    height: 60px; 
  }
}
@media screen and ( min-width: 768px ) {
  .icon { 
    width: 60px; 
    height: 60px; 
    margin-left: 19rem;
  }
  .img{
    width: 60px; 
    height: 60px; 
  }
  body{
    background-size: cover;
  }
}
@media screen and ( min-width: 1440px ) {
  .icon { 
    width: 100px; 
    height: 100px; 
    margin-left: 28rem;
  }
  .img{
    width: 100px; 
    height: 100px; 
  }
}
.header{
  font-size: 40px;
  color:white;
  font-family: 'Satisfy', cursive;
}